@font-face {
    -fx-font-family: 'Verdana Pro Black';
    src: url('font/VerdanaPro-Black.ttf');
}
.body{
	-fx-background-image:url(img/gamesHome/SG.jpeg);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
.bodyHome{
	-fx-background-image:url(img/home/Home1.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
.bodySfondo{
	-fx-background-color:linear-gradient(#154ac8, #debcde);
}
.bodyLog{
	-fx-background-color:linear-gradient(#154ac8, #0e4766);

}
.bodyRegole{
	-fx-background-image:url(img/regoleGioco/regoleGioco_Scherma.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	
}
.bottoni{
    	 -fx-background-color: black;
		 -fx-text-fill: white;
		 -fx-background-radius:6;
		 -fx-font-family: 'Verdana Pro Black';


}
.bd{
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;	
	-fx-background-radius:8;
	-fx-background-border:black;

}
#img_1{
	-fx-background-image:url(img/gamesHome/GamesScherma.png);
}
#img_2{
	-fx-background-image:url(img/gamesHome/GamesPesi.png);
}
#img_3{
	-fx-background-image:url(img/gamesHome/GamesBoxe.png);
}
#img_4{
	-fx-background-image:url(img/gamesHome/GamesArco.png);
}
#img_gif{
	-fx-background-image:url(img/esercizi/trovaErrore/scherma.gif);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_avatar{
	-fx-background-image:url(img/log/imgView.png);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_avatar2{
	-fx-background-image:url(img/log/imgNot.png);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#btn_accediGo:hover,#btn_AnnullaConferma:hover,#btn_Conferma:hover,#btn_ConfermaExit:hover,#btn_startMultiple:hover,#btn_startVF:hover,#btn_Avanti:hover,#btn_int:hover,#btn_difficile:hover,#btn_princ:hover,#btn_startRiordinamento:hover,#btn_difficileVF:hover,#btn_GoHome:hover,#btn_startErrore:hover,#btn_goMedagliere:hover,#btn_accedi:hover,#btn_iscriviti:hover,#btn_Conferma:hover,#btn_annullaAcc:hover,#btn_iscrivitiGo:hover{
	-fx-background-color: rgb(75, 75, 75);
}
/*********************************************************************/

