@font-face {
    src: url('font/VerdanaPro-Black.ttf');
	src: url('font/VerdanaPro-Regular.ttf');

}
.title.disabled{
	-fx-text-fill: white;
	-fx-font-family: 'Verdana Pro Regular';
}
.body{
	-fx-background-image:url(img/gamesHome/SG.jpeg);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
.bodyHome{
	-fx-background-image:url(img/home/Home1.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
.bodySfondo{
	-fx-background-color:linear-gradient(#154ac8, #debcde);
}
.bodyLog{
	-fx-background-color:linear-gradient(#154ac8, #0e4766);

}
#bodyRegoleScherma{
	-fx-background-image:url(img/regoleGioco/regoleGioco_Scherma.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#bodyRegolePesi{
	-fx-background-image:url(img/regoleGioco/regoleGioco_Pesi.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#bodyRegoleBoxe{
	-fx-background-image:url(img/regoleGioco/regoleGioco_Pugile.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#bodyRegoleArco{
	-fx-background-image:url(img/regoleGioco/regoleGioco_Arco.png);
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}

.bottoni{
    	 -fx-background-color: black;
		 -fx-text-fill: white;
		 -fx-background-radius:6;
		 -fx-font-family: 'Verdana Pro Regular';


}
.bd{
    -fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;	
	-fx-background-radius:8;
	-fx-background-border:black;

}
#img_1{
	-fx-background-image:url(img/gamesHome/GamesScherma.png);
}
#img_2{
	-fx-background-image:url(img/gamesHome/GamesPesi.png);
}
#img_3{
	-fx-background-image:url(img/gamesHome/GamesBoxe.png);
}
#img_4{
	-fx-background-image:url(img/gamesHome/GamesArco.png);
}
#img_gif{
	-fx-background-image:url(img/esercizi/trovaErrore/scherma.gif);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_gif2{
	-fx-background-image:url(img/esercizi/multiple/pesi.gif);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_gif3{
	-fx-background-image:url(img/esercizi/veroFalso/boxe.gif);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_gif4{
	-fx-background-image:url(img/esercizi/riordinamento/arco.gif);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_gifError{
	-fx-background-image:url(img/esercizi/img_errore.png);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-margin:0;
}
#img_avatar{
	-fx-background-image:url(img/log/imgView.png);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#img_avatar2{
	-fx-background-image:url(img/log/imgNot.png);
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
}
#btn_accediGo:hover,#btn_AnnullaConferma:hover,#btn_Conferma:hover,#btn_ConfermaExit:hover,#btn_startMultiple:hover,#btn_startVF:hover,#btn_Avanti:hover,#btn_int:hover,#btn_difficile:hover,#btn_princ:hover,#btn_startRiordinamento:hover,#btn_difficileVF:hover,#btn_GoHome:hover,#btn_startErrore:hover,#btn_goMedagliere:hover,#btn_accedi:hover,#btn_iscriviti:hover,#btn_Conferma:hover,#btn_annullaAcc:hover,#btn_iscrivitiGo:hover{
	-fx-background-color: rgb(75, 75, 75);

}
.table-column-header {
    -fx-background-color: transparent;
}

.oro-header .label {
    -fx-background-color: gold;
    -fx-alignment: center;
}

.argento-header .label {
    -fx-background-color: silver;
    -fx-alignment: center;
}

.bronzo-header .label {
    -fx-background-color: #cd7f32; /* Colore bronzo */
    -fx-alignment: center;
}

/*********************************************************************/

